<app-navbar></app-navbar>

<div class="container">
  <div class="pt-5 px-4">
    <p class="fs-3 fw-normal">
      ¿Qué es <span class="fs-1 fw-medium">SafeZone</span>?
    </p>
  </div>

  <div class="container pb-5">
    <div class="p-5  text-center bg-body-tertiary bg-dark rounded-5">
      <h1 class="text-body-emphasis text-light py-4">Tu puedes reportar con un solo clik.</h1>
      <p class="col-lg-8 mx-auto fs-3 text-muted py-2">
        Es una aplicacion que nos permite realizar informes de emergencia al instante,
        mediante esta, te encontrarás más seguro y con tu llamada de emergencia más rápida,
        solo desde tu dispositivo móvil.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-outline-primary btn-lg px-4 p-3" (click)="link()"
          type="button">
          Descárgala aquí
        </button>
      </div>
    </div>
  </div>
</div>