<app-navbar></app-navbar>

<div class="container">
  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary bg-dark rounded-5">
      <h1 class="text-body-emphasis text-light">Tus puedes reportar con un solo clik.</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted py-4">
        Puedes descargar nuestra aplicacion y poder reportar lo que pasa a tu alrededor 
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" (click)="link()" type="button">
          Obtener la aplicacion gratis
        </button>
      </div>
    </div>
  </div>
</div>